<div class="w-full coustom bg-botenTwo h-[430px] mt-[72px] py-[72px] px-[10vw]">
  <div class="flex flex-row-reverse h-auto w-full">
    <section class="flex-col flex gap-4">
      <section class="flex flex-row-reverse gap-2  items-end">
        <img src="assets/img/LOGO%201%201.png" class="w-[4.9689vw] h-[13.8776vh]">
        <h2 class="facetext text-itemsText text-white" style="font-weight: 600">نهضت جهانی نهج‌البلاغه</h2>
      </section>
      <p class="w-[282px] facetext text-justify text-itemsText text-white" style="line-height: 2em;">نهج‌البلاغه عصاره
        بسیار شیرین ، جامع و پر اثری از دانش گسترده امام علی علیه‌السلام است که در دست ما قرار دارد.</p>
    </section>
    <section class="flex flex-col mr-[6.9703vw] pt-[72px]">
      <h2 class="facetext text-itemsText text-white" style="font-weight: 600">نقشه وبسایت</h2>
      <ol class="facetext text-itemsText text-white mt-[10px]">
        <li>خانه</li>
        <li>آشنایی با نهضت</li>
        <li>فعالیت‌ها</li>
        <li>چندرسانه‌ای</li>
        <li>ارتباط با نهضت</li>
      </ol>
    </section>
    <section class="flex flex-col mr-[5.1061vw] pt-[72px]">
      <h2 class="facetext text-itemsText text-white" style="font-weight: 600">لینک‌های مرتبط</h2>
      <ol class="facetext text-itemsText text-white mt-[10px]">
        <li>هیئت سراج علوی</li>
        <li>حوزه هنری</li>
        <li>حسینیه هنر</li>
        <li>مجتمع شهید آوینی</li>
      </ol>
    </section>
    <section class="flex flex-col mr-[5.1061vw] gap-4 pt-[72px]">
      <h2 class="facetext text-itemsText text-white" style="font-weight: 600">نهضت در شبکه‌های اجتماعی :</h2>
      <div class="flex flex-row-reverse gap-5">
        <img src="assets/icon/Frame%2051.png" class="w-[3.8647vw] h-[7.619vh]">
        <img src="assets/icon/Frame%2052.png" class="w-[3.8647vw] h-[7.619vh]">
        <img src="assets/icon/Frame%2053.png" class="w-[3.8647vw] h-[7.619vh]">
        <img src="assets/icon/Frame%2054.png" class="w-[3.8647vw] h-[7.619vh]">
        <img src="assets/icon/Frame%2055.png" class="w-[3.8647vw] h-[7.619vh]">
      </div>
      <p class="facetext text-white text-itemsText">با ثبت ایمیل ، از آخرین رویدادهای نهضت با خبر شوید :</p>
      <section class="flex flex-row-reverse gap-4">
        <input type="text" class="facetext text-itemsText w-[17.5066vw] rounded-lg py-3 px-6" placeholder="ایمیل شما">
        <a class="w-[5.305vw]  rounded-lg py-3 text-white bg-botenOne text-itemsText facetext text-center"
           style="font-weight: 600; border:none">ثبت</a>
      </section>
    </section>

  </div>
</div>
