<div class="px-[10.766vw] mt-[16.7959vh] flex flex-col justify-center w-full p-12 bg-gray-100 h-auto">
<section class="facetext flex flex-row justify-center gap-2 items-center w-full " >
  <img src="assets/icon/story.png" class="w-8 h-8">
  <h2 class="text-titleText " style="font-weight: 700">فعالیت‌ها و اخبار نهضت</h2>
</section>
<app-news-comp-items></app-news-comp-items>
  <div class="w-full flex flex-row items-center gap-2">
    <img src="assets/icon/arrow-left.png" class="w-6 h-6">
    <p class="text-itemsText text-textHeaderTwo">مشاهده همه</p>
  </div>
</div>
