<div class="w-[38.0952vw] flex flex-row-reverse p-2 gap-3 bg-white rounded-2xl">
  <img src="assets/img/Frame%20790.png" class="w-24 h-24">
  <section class="flex flex-col gap-1">
    <p class="facetext text-[0.8282vw]">حجت‌الاسلام و المسلمین حمیدرضا مهدوی ارفع</p>
    <p class="facetext text-itemsText" style="font-weight: 600;">قویت بنیان های اعتقادی در اصلاح وضعیت اجتماعی</p>
    <section class="flex flex-row-reverse gap-4 justify-start w-full items-center">
      <img src="assets/icon/more-square.png" class="w-6 h-6">
      <p class="text-[12px] facetext">۰:۰۰ / ۱۳:۰۳</p>
      <img src="assets/icon/play-circle.png" class="w-10 h-10">

    </section>
  </section>

</div>
