<div class="flex flex-col w-full h-auto justify-center mt-[233px] gap-3 bg-colorPerpel rounded-[32px]">
  <section class="flex flex-row w-full gap-6 pt-[233px] px-[84px]">
    <img src="assets/img/Frame%20783.png" class="w-[264px] h-[198px]">
    <img src="assets/img/Frame%20786.png" class="w-[264px] h-[198px]">
    <img src="assets/img/Frame%20784.png" class="w-[264px] h-[198px]">
    <img src="assets/img/Frame%20785.png" class="w-[264px] h-[198px]">
  </section>
  <div class="w-full flex flex-row justify-center gap-6 mb-8 mt-6 ">
    <app-play-video></app-play-video>
    <app-play-video></app-play-video>
  </div>

</div>
