<div class="facetext flex-row-reverse gap-6 flex ">
  <section class="shadowBox rounded-2xl flex flex-row-reverse w-[360px] h-auto p-6 ">
    <img src="assets/icon/Frame%20135.png" class="w-24 h-24">
    <section class="flex flex-col items-end ">
      <h3 class="text-[18px] " style="font-weight: 700;">حکمت‌ها</h3>
      <p class="text-[18px] " style="direction: rtl">برای شروع حکمت‌ها از ابتدا تا انتها خوانده شوند. </p>
    </section>
  </section>
  <section class="shadowBox rounded-2xl flex flex-row-reverse w-[360px] h-auto p-6 ">
    <img src="assets/icon/Frame%20135.png" class="w-24 h-24">
    <section class="flex flex-col items-end ">
      <h3 class="text-[18px] " style="font-weight: 700;">حکمت‌ها</h3>
      <p class="text-[18px] " style="direction: rtl">برای شروع حکمت‌ها از ابتدا تا انتها خوانده شوند. </p>
    </section>
  </section>
  <section class="shadowBox rounded-2xl flex flex-row-reverse w-[360px] h-auto p-6 ">
    <img src="assets/icon/Frame%20135.png" class="w-24 h-24">
    <section class="flex flex-col items-end ">
      <h3 class="text-[18px] " style="font-weight: 700;">حکمت‌ها</h3>
      <p class="text-[18px] " style="direction: rtl">برای شروع حکمت‌ها از ابتدا تا انتها خوانده شوند. </p>
    </section>
  </section>


</div>
