<div class="facetext flex-row-reverse justify-center gap-6 flex ">
  <section class="shadowBox rounded-2xl flex flex-row w-[23.8727vw] h-[19.5918vh] p-6 ">
    <img src="assets/icon/Frame%20135.png" class="w-[6.366vw] h-[13.0612vh]">
    <section class="flex flex-col items-end ">
      <h3 class="text-[1.3263vw]  w-full" style="font-weight: 700;direction: rtl;">حکمت‌ها</h3>
      <p class="text-[1.1936vw] " style="direction: rtl">برای شروع حکمت‌ها از ابتدا تا انتها خوانده شوند. </p>
    </section>
  </section>
  <section class="shadowBox rounded-2xl flex flex-row w-[23.8727vw] h-[19.5918vh] p-6 ">
    <img src="assets/icon/Frame%20135.png" class="w-[6.366vw] h-[13.0612vh]">
    <section class="flex flex-col items-end ">
      <h3 class="text-[1.3263vw]  w-full" style="font-weight: 700;direction: rtl;">حکمت‌ها</h3>
      <p class="text-[1.1936vw] " style="direction: rtl">برای شروع حکمت‌ها از ابتدا تا انتها خوانده شوند. </p>
    </section>
  </section>
  <section class="shadowBox rounded-2xl flex flex-row w-[23.8727vw] h-[19.5918vh] p-6 ">
    <img src="assets/icon/Frame%20135.png" class="w-[6.366vw] h-[13.0612vh]">
    <section class="flex flex-col items-end ">
      <h3 class="text-[1.3263vw]  w-full" style="font-weight: 700;direction: rtl;">حکمت‌ها</h3>
      <p class="text-[1.1936vw] " style="direction: rtl">برای شروع حکمت‌ها از ابتدا تا انتها خوانده شوند. </p>
    </section>
  </section>


</div>
