<div class="flex flex-col gap-6">
  <section class="flex flex-row-reverse gap-2 items-center" >
    <img src="assets/icon/Frame%20104.png" class="w-6 h-6">
    <h2 class="facetext h-12 text-titleText" style="font-weight: 700;">نهضت جهانی نهج‌البلاغه چیست ؟</h2>
  </section>

    <p style="font-weight: 400;direction: rtl" class="facetext text-justify text-textNormal w-[552px] h-auto">
      نهج‌البلاغه عصاره بسیار شیرین ، جامع و پر اثری از دانش گسترده امام علی علیه‌السلام است که در دست ما قرار دارد ، ولی از آن غافل هستیم. دوستان شما برای ترویج این گنج با ارزش ، نهضتی مردمی آغاز نموده‌اند که در ادامه با آن آشنا می‌شوید.
    </p>

</div>
