<div class="w-[24.8447vw]  flex gap-6 flex-col">
  <div class="w-full flex flex-row-reverse gap-2 items-center  justify-center">
    <p class="facetext text-itemsText ">انتخاب استان :</p>
    <select class="py-2 px-2 text-itemsText h-10 facetext w-[179px] text-right" style="direction: rtl;" name="cars" id="cars">
    <option value="tehran" selected>تهران</option>
    </select>
  </div>
  <div class="flex flex-col h-[536px] w-full bg-white items-center rounded-2xl py-6 facetext">
    <p class="text-textNormal text-botenOne">جلسه ۲۴</p>
    <img src="assets/img/Frame%20129.png" class="w-[128px] h-[128px] mt-4">
    <p class="text-itemsText text-textHeaderTwo mt-4 font-semibold">سخنران :</p>
    <p class="text-itemsText text-black mt-2 w-[179px] text-center">حجت الاسلام و المسلمین
      حمیدرضا مهدوی ارفع</p>
    <p class="text-textNormal text-botenOne mt-4 "> موضوع جلسه :</p>
    <p class="text-itemsText text-black mt-2 w-[218px] text-center">نقش تقویت بنیان‌های اعتقادی در اصلاح وضعیت اجتماعی</p>
    <a  class="w-[21.5321vw] py-4 h-[7.619vh] bg-botenTwo mt-4 text-white rounded-lg flex flex-row justify-center items-center">
      <img src="assets/icon/timer.png" class="w-6 h-6">
      <p class="text-itemsText text-white  bg-botenTwo">مانده تا شروع :</p>
      <p class="text-itemsText text-white  bg-botenTwo w-[4.3767vw] mr-1.5">14:{{counterM()}}:{{counter()}}</p>

    </a>
  </div>
</div>
