<div class="flex flex-col w-full px-[4.9689vw] mt-[72px] relative">
  <div class="flex flex-row justify-start facetext gap-2 items-center">
    <img src="assets/icon/gallery.png" class="w-8 h-8">
    <h2 class="text-titleText facetext" style="font-weight: 700">محتوای چندرسانه‌ای</h2>
  </div>
  <div class="absolute top-[9.7959vh] left-[24.0166vw] w-[51.3458vw] h-[28.8475vw]">
    <img src="assets/img/poster.png" class="w-[51.6667vw] h-[418px] brightness-50 object-cover rounded-3xl">
    <img src="assets/icon/Play.png" class="w-[8.4881vw] h-[17.415vh] top-[154px] left-[21.9462vw] absolute ">

  </div>
  <app-video-items></app-video-items>
</div>
