<div class="w-[51.3458vw] h-auto gap-6 flex flex-col ">
  <section class="flex flex-row-reverse justify-start items-center gap-2">
    <img src="assets/icon/calendar.png" class="w-8 h-8">
    <h2 class="facetext text-textNormal2" style="font-weight: 700;">برنامه جلسات هفته جاری در استان تهران </h2>
  </section>
  <section class="w-full h-auto flex flex-col gap-2    bg-white rounded-3xl">
    <div class="facetext h-[7.619vh] text-textNormal py-4 px-4 rounded-lg  text-textHeaderTwo  flex flex-row justify-start w-full">
      <p class="w-[79px]">روز</p>
      <p class="w-[106px]">تاریخ</p>
      <p class="w-[143px]">زمان</p>
      <p  class="w-[376px]">آدرس</p>
    </div>
    <div class="facetext borderMe text-itemsText py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[79px]">شنبه</p>
      <p class="w-[106px]">۱۴۰۱/۱۱/۱۴</p>
      <p class="w-[143px]">۲۰:۳۰ الی ۲۲:۴۵</p>
      <p  class="w-[396px]  text-[0.9662vw]">فرجام ، خ شهیدان محمدباقری ، مسجد سپهسالار حسین (ع)</p>
    </div>
    <div class="facetext borderMe text-itemsText py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[79px]">یکشنبه</p>
      <p class="w-[106px]">۱۴۰۱/۱۱/۱۵</p>
      <p class="w-[143px]">۱۷:۴۰ الی ۲۰:۴۰</p>
      <p  class="w-[396px] text-[0.9662vw]">دماوند ، چهارراه آیت ، مسجد سیدالشهدا (ع)</p>
    </div>
    <div class="facetext borderMe text-itemsText py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[79px]">دوشنبه</p>
      <p class="w-[106px]">۱۴۰۱/۱۱/۱۶</p>
      <p class="w-[143px]">۱۸:۳۰ الی ۲۱:۳۰</p>
      <p  class="w-[396px] text-[0.9662vw]">نارمک ، خ شهید ثانی ، مسجد فاطمه‌الزهرا (س)</p>
    </div>
    <div class="facetext borderMe text-itemsText py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[79px]">سه شنبه</p>
      <p class="w-[106px]">۱۴۰۱/۱۱/۱۷</p>
      <p class="w-[143px]">۲۰:۳۰ الی ۲۲:۴۵</p>
      <p  class="w-[396px] text-[0.9662vw]">فرجام ، خ شهیدان محمدباقری ، مسجد سپهسالار حسین (ع)</p>
    </div>
    <div class="facetext borderMe text-itemsText py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[79px]">چهارشنبه</p>
      <p class="w-[106px]">۱۴۰۱/۱۱/۱۸</p>
      <p class="w-[143px]">۱۷:۴۰ الی ۲۰:۴۰</p>
      <p  class="w-[396px] text-[0.9662vw]">نارمک ، خ شهید ثانی ، مسجد فاطمه‌الزهرا (س)</p>
    </div>
    <div class="facetext borderMe text-itemsText py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[79px]">پنجشنبه</p>
      <p class="w-[106px]">۱۴۰۱/۱۱/۱۹</p>
      <p class="w-[143px]">۱۸:۳۰ الی ۲۱:۳۰</p>
      <p  class="w-[376px] text-[0.9662vw]">فرجام ، خ شهیدان محمدباقری ، مسجد سپهسالار حسین (ع)</p>
    </div>
    <div class="facetext borderMe text-itemsText py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[79px]">جمعه</p>
      <p class="w-[106px]">۱۴۰۱/۱۱/۲۰</p>
      <p class="w-[143px]">۱۸:۳۰ الی ۲۱:۳۰</p>
      <p  class="w-[376px] text-[0.9662vw]">فرجام ، خ شهیدان محمدباقری ، مسجد سپهسالار حسین (ع)</p>
    </div>
  </section>


</div>
