<div class="w-[51.3458vw] h-auto gap-6 flex flex-col ">
  <section class="flex flex-row-reverse justify-start items-center gap-2">
    <img src="assets/icon/calendar.png" class="w-8 h-8">
    <h2 class="facetext text-textNormal2" style="font-weight: 700;">برنامه جلسات هفته جاری در استان تهران </h2>
  </section>
  <section class="w-full h-auto flex flex-col gap-2    bg-white rounded-3xl">
    <div class="facetext h-[7.619vh] text-textNormal py-4 px-4 rounded-lg  text-textHeaderTwo  flex flex-row justify-start w-full">
      <p class="w-[79px]">روز</p>
      <p class="w-[106px]">تاریخ</p>
      <p class="w-[143px]">زمان</p>
      <p  class="w-[376px]">آدرس</p>
    </div>
    <div class="facetext h-[7.619vh] borderMe  gap-[30px] py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[31px] text-[0.97vw]">شنبه</p>
      <p class="w-[66px] text-[0.97vw]">۱۴۰۱/۱۱/۱۴</p>
      <p class="w-[118px] text-[0.97vw]">۲۰:۳۰ الی ۲۲:۴۵</p>
      <p  class="w-[22.7083vw]   text-[0.9284vw]">فرجام ، خ شهیدان محمدباقری ، مسجد سپهسالار حسین (ع)</p>
    </div>
    <div class="facetext h-[7.619vh] borderMe text-itemsText gap-[30px] py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[31px] text-[0.97vw]">یکشنبه</p>
      <p class="w-[66px] text-[0.97vw]">۱۴۰۱/۱۱/۱۵</p>
      <p class="w-[118px] text-[0.97vw]">۱۷:۴۰ الی ۲۰:۴۰</p>
      <p  class="w-[22.7083vw] text-[0.9662vw]">دماوند ، چهارراه آیت ، مسجد سیدالشهدا (ع)</p>
    </div>
    <div class="facetext h-[7.619vh] borderMe text-itemsText gap-[30px] py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[31px] text-[0.97vw]">دوشنبه</p>
      <p class="w-[66px] text-[0.97vw]">۱۴۰۱/۱۱/۱۶</p>
      <p class="w-[118px] text-[0.97vw]">۱۸:۳۰ الی ۲۱:۳۰</p>
      <p  class="w-[22.7083vw] text-[0.9662vw]">نارمک ، خ شهید ثانی ، مسجد فاطمه‌الزهرا (س)</p>
    </div>
    <div class="facetext h-[7.619vh] borderMe text-itemsText gap-[30px] py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[31px] text-[0.97vw]">سه شنبه</p>
      <p class="w-[66px] text-[0.97vw]">۱۴۰۱/۱۱/۱۷</p>
      <p class="w-[118px] text-[0.97vw]">۲۰:۳۰ الی ۲۲:۴۵</p>
      <p  class="w-[22.7083vw] text-[0.9662vw]">فرجام ، خ شهیدان محمدباقری ، مسجد سپهسالار حسین (ع)</p>
    </div>
    <div class="facetext h-[7.619vh] borderMe text-itemsText gap-[30px] py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[31px] text-[0.97vw]">چهارشنبه</p>
      <p class="w-[66px] text-[0.97vw]">۱۴۰۱/۱۱/۱۸</p>
      <p class="w-[118px] text-[0.97vw]">۱۷:۴۰ الی ۲۰:۴۰</p>
      <p  class="w-[22.7083vw] text-[0.9662vw]">نارمک ، خ شهید ثانی ، مسجد فاطمه‌الزهرا (س)</p>
    </div>
    <div class="facetext h-[7.619vh] borderMe text-itemsText gap-[30px] py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[31px] text-[0.97vw]">پنجشنبه</p>
      <p class="w-[66px] text-[0.97vw]">۱۴۰۱/۱۱/۱۹</p>
      <p class="w-[118px] text-[0.97vw]">۱۸:۳۰ الی ۲۱:۳۰</p>
      <p  class="w-[22.7083vw] text-[0.9662vw]">فرجام ، خ شهیدان محمدباقری ، مسجد سپهسالار حسین (ع)</p>
    </div>
    <div class="facetext h-[7.619vh] borderMe text-itemsText gap-[30px] py-4 px-4 rounded-lg  text-black  flex flex-row justify-start w-full">
      <p class="w-[31px] text-[0.97vw]">جمعه</p>
      <p class="w-[66px] text-[0.97vw]">۱۴۰۱/۱۱/۲۰</p>
      <p class="w-[118px] text-[0.97vw]">۱۸:۳۰ الی ۲۱:۳۰</p>
      <p  class="w-[22.7083vw] text-[0.9662vw]">فرجام ، خ شهیدان محمدباقری ، مسجد سپهسالار حسین (ع)</p>
    </div>
  </section>


</div>
