<ol class="flex flex-row gap-6 items-center   text-[1vw] facetext " >
  <li class="hover:font-semibold hover:text-textHeaderTwo hover:cursor-pointer">
    <a routerLink="/">خانه</a></li>
  <li class="hover:font-semibold hover:text-textHeaderTwo hover:cursor-pointer">
    <a routerLink="/article">آشنایی با نهضت
    </a></li>
  <li class="hover:font-semibold hover:text-textHeaderTwo hover:cursor-pointer"> <a routerLink="/active">فعالیت‌ها</a> </li>
  <li class="hover:font-semibold hover:text-textHeaderTwo hover:cursor-pointer">چندرسانه‌ای</li>
  <li class="hover:font-semibold hover:text-textHeaderTwo hover:cursor-pointer"><a routerLink="/contact">ارتباط با نهضت</a></li>
</ol>
