<ol class="flex flex-row-reverse gap-6 items-center text-textheader" >
  <li class="hover:font-semibold hover:text-textHeaderTwo hover:cursor-pointer">خانه</li>
  <li class="hover:font-semibold hover:text-textHeaderTwo hover:cursor-pointer">آشنایی با نهضت</li>
  <li class="hover:font-semibold hover:text-textHeaderTwo hover:cursor-pointer"> فعالیت‌ها</li>
  <li class="hover:font-semibold hover:text-textHeaderTwo hover:cursor-pointer">چندرسانه‌ای</li>
  <li class="hover:font-semibold hover:text-textHeaderTwo hover:cursor-pointer">ارتباط با نهضت</li>
</ol>
